body {
    font-family: "Poppins", sans-serif;
    background-color: #2a3442;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    margin: 0;
}

#container {
    width: 35%;
    background-color: #AEE8E8;
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    box-shadow: 10px 10px 10px rgba(255, 248, 248, 0.2);
    position: relative;
}

#copy {
    width: 7%;
    position: absolute;
    top: 2%;
    right: 2%;
    opacity: 50%;
    cursor: pointer;
}

#copy:hover {
    opacity: 100%;
}

#logo {
    width: 60%;
}

#download {
    display: none;
    align-items: center;
    background-color: #007bff;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    justify-content: center;
    margin: 20px;
    width: 300px;
    transition: 0.3s ease, transform 0.2s ease;
}

#download:hover {
    transform: scale(1.05);
}

#download img {
    width: 10%;
}

#input {
    width: 300px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#qr-box {
    display: block;
    padding: 20px;
}

#qr-code {
    display: none;
    margin: 0 auto;
}

#generate-button {
    border-radius: 10px;
    background-color: #62c5cc;
    padding: 10px 20px;
    border: none;
    padding: 10px;
    transition: 0.3s ease, transform 0.2s ease;
}

#generate-button:hover {
    transform: scale(1.05);
    cursor: pointer;
}